@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}
.btn-primary{
  @apply w-full text-sm font-medium text-white bg-blue-500 shadow-lg shadow-purple-600/50 rounded-md p-[13px] my-2 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer;
}

.ri-sun-fill{
  font-size: 40px;
}

.text-gradient {
  background: linear-gradient(to right, #facc15, #fb7185, #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img{
  object-fit: cover;
}

.profile-images{
  font-family: "Barlow Condensed";
}

.hero{
  font-family: "Poppins", sans-serif;
}

.ri-star-fill{
  color: #FBB70E;
  font-size: 20px;
}

.ri-arrow-right-double-line ,.ri-arrow-left-double-line{
  @apply bg-[#2c2c2c] text-3xl rounded-full p-4 hover:bg-[#E3E3DB] hover:text-black transition-all duration-300 cursor-pointer
}


